PORT=3000
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=souvikpachal2004@gmail.com
SMTP_PASS=tnda iuor aggm jrlw
RECIPIENT_EMAIL=souvikpachal2004@gmail.com
FRONTEND_ORIGIN=http://127.0.0.1:5500
BASE_URL=http://localhost:3000
